target/
*.class
*.jar
*.war
*.ear
.mvn/
!.mvn/wrapper/maven-wrapper.jar
!.mvn/wrapper/maven-wrapper.properties
.idea/
*.iml
*.iws
.classpath
.project
.settings/
.springBeans
.sts4-cache
.vscode/
*.log
